@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Phantom Sans';
  src: url('/fonts/Regular.woff')
      format('woff'),
    url('/fonts/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('/fonts/Italic.woff')
      format('woff'),
    url('/fonts/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('/fonts/Bold.woff')
      format('woff'),
    url('/fonts/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html{
  font-family: 'Phantom Sans', system-ui, sans-serif;
}
