@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Phantom Sans";
  src:
    url("/fonts/Regular.woff") format("woff"),
    url("/fonts/Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Phantom Sans;
  src:
    url(https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff)
      format("woff"),
    url(https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2)
      format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Phantom Sans;
  src:
    url(https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff)
      format("woff"),
    url(https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2)
      format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Phantom Sans", system-ui, sans-serif;
}

.animate-box {
  animation: slideup 1s ease-in-out;
  animation-timeline: view(block 80% 0%);
}

.animatevent {
  animation: slideup 1s ease-in-out;
  animation-timeline: view(block 70% 0%);
}

.gradient-text {
  background: linear-gradient(90deg, #ec3750, #ff8c37, #ec3750, #ff8c37);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: flow 3s linear infinite;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    /* Move the background completely to the left */
    background-position: 100% 50%;
  }
}
