---
import Layout from "../layouts/base.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Banner from "../components/banner.astro";
import Activities from "../components/activities.astro";
import Projects from "../components/projects.astro";
import Events from "../components/events.astro";
import Join from "../components/join.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Hack Club @ APS">
  <Navbar />

  <main>
    {/* --- HERO SECTION --- */}
    <Hero />

    {/* --- BANNER --- */}
    <Banner />

    {/* --- ACTIVITIES GRID --- */}
    <Activities />

    {/* --- PROJECTS / SHOWCASE --- */}
    <Projects />

    {/* --- UPCOMING EVENTS --- */}
    <Events />

    {/* --- JOIN CTA --- */}
    <Join />

    {/* --- FOOTER --- */}
    <Footer />
  </main>
</Layout>
