---

---

<div
    class="bg-[#252429] text-white py-12 -skew-y-2 -translate-y-0 transform origin-top-left mt-10"
>
    <div
        class="max-w-6xl mx-auto px-4 skew-y-2 flex flex-col md:flex-row justify-between items-center gap-8"
    >
        <div class="translate-y-2 text-center md:text-left">
            <h3 class="text-2xl font-bold mb-2">Beginner friendly? Always.</h3>
            <p class="text-slate-300">
                You don't need to know how to code to join. We'll teach you.
            </p>
        </div>
        <div class="flex gap-6">
            <div class="text-center">
                <span class="block text-4xl font-bold text-[#ec3750]">0</span>
                <span class="text-sm font-mono uppercase text-slate-400"
                    >Experience Reqd</span
                >
            </div>
            <div class="text-center">
                <span
                    id="percentage"
                    class="block text-4xl font-bold text-[#ec3750]">100%</span
                >
                <span class="text-sm font-mono uppercase text-slate-400"
                    >Free to Join</span
                >
            </div>
            <div class="text-center">
                <span class="block text-4xl font-bold text-[#ec3750]"
                    >&infin;</span
                >
                <span class="text-sm font-mono uppercase text-slate-400"
                    >Possibilities</span
                >
            </div>
        </div>
    </div>
</div>
