---

---

<section
  id="join"
  class="py-32 bg-[url('https://hackclub.com/pattern.svg')] text-center px-4 relative overflow-hidden"
>
  <div
    class="relative z-10 max-w-3xl mx-auto backdrop-blur-md pt-10 pb-10 rounded-2xl"
  >
    <h2
      class="text-4xl md:text-6xl font-extrabold dark:text-white mb-8 tracking-tight"
    >
      Ready to start building?
    </h2>
    <p class="text-xl text-slate-400 mb-10 max-w-xl mx-auto">
      Join the Slack, come to our next meeting, and get your free Hack Club
      stickers.
    </p>
    <form class="max-w-md mx-auto flex flex-col gap-4">
      <input
        type="email"
        placeholder="Enter your school email..."
        class="w-full px-6 py-4 rounded-full dark:bg-[#17171d] border border-slate-700 text-white placeholder-slate-500 focus:outline-none focus:ring-2 focus:ring-[#ec3750] transition-all"
      />
      <button
        onclick="alert('Thank you for submitting your email! But this feature is currently under development.')"
        class="w-full px-6 py-4 bg-[#ec3750] text-white font-bold text-lg rounded-full hover:bg-[#d63248] hover:shadow-lg hover:shadow-red-900/50 transition-all duration-200"
      >
        Get Invited
      </button>
    </form>
    <span class="mt-6 text-slate-500 text-sm">
      By joining, you agree to be cool and follow our
    </span>
    <a href="https://github.com/hack-club-aps" class="underline hover:decoration-wavy">Code of Conduct.</a>
  </div>
</section>
