---
import OGMeta from "@/components/ogmeta.astro";
import { og } from "@/config/og";
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hack Club at Adani Public School, Mundra"
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="IM_RTASYZFUbeSY9Haw9VDzkF01t2o6IAdgxTlEwgRY"
    />
    <OGMeta />
    <Analytics />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="bg-white text-slate-800 dark:bg-[#121217] dark:text-slate-200 selection:bg-[#ec3750] selection:text-white transition-colors duration-300 overflow-x-hidden"
  >
    <slot />
  </body>
</html>
